@import  '../../styles/variable.sass'
a
    padding: 0.4rem 1.5rem !important
    margin: 0.5rem
    background: $secondary-color !important
a:hover
    background: $super-light !important
.btn
    text-align: right !important

.title
    font-size: 1.5rem
.time
    font-size: 0.8rem !important
    margin-bottom: 0.5rem

.comment
    margin-bottom: 1rem
    background: $super-light !important
    color: $dark
.comment:hover
    background-color: $light !important
    cursor: pointer